.timer {
  font-size: 30px;
  color: var(--tertiary-color);
  padding: 5px 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.199), 0 3px 6px rgba(0, 0, 0, 0.13);
}
@media screen and (max-width: 480px) {
  .timer {
    font-size: 24px;
    padding: 5px 30px;
  }
}
