.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container h1 {
  color: var(--tertiary-color);
  margin-bottom: 40px;
}
