.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}
.question {
  margin-bottom: 40px;
}
.answersContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 30px;
}
.answersContainer img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.answersContainer img:hover {
  opacity: 0.8;
}
@media screen and (max-width: 480px) {
  .answersContainer {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
  }
  .answersContainer img {
    margin-bottom: 10px;
  }
}
