.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 70px);
  position: relative;
}
.container h1 {
  font-size: 40px;
  margin-bottom: 40px;
}
.score {
  font-size: 44px;
  color: var(--tertiary-color);
  padding: 5px 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.199), 0 3px 6px rgba(0, 0, 0, 0.13);
  margin-bottom: 40px;
}
.socialscontainer {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.socialscontainer p {
  font-size: 30px;
  margin: 0px 20px 0px 0px;
}
.socialscontainer svg {
  width: 3rem;
}
.btnContainer button {
  margin: 0px 20px;
}

@media screen and (max-width: 480px) {
  .container h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .score {
    font-size: 26px;
    padding: 5px 20px;
    margin-bottom: 30px;
  }
  .socialscontainer {
    margin-bottom: 30px;
  }
  .socialscontainer p {
    font-size: 20px;
    margin: 0px 20px 0px 0px;
  }
  .socialscontainer svg {
    width: 2rem;
  }
  .btnContainer button {
    margin: 0px 5px;
  }
}
